.home-for-register{
    display: flex;
    align-items: center;
    justify-content: center;
    // width:100%;
    height: auto;
    // background-color: #b61924;
    z-index: 100;
    .heading {
        position: absolute;
        top: 20%;
    }

    .registration-form{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        top:40%;
        height: 200px;
        border: 1px solid;
        border-radius: 20px;
        background-color:#ebdddd;
    }
}