.update-player-form{
    position: absolute;
    align-items: center;
    justify-content: center;
    top:7%;
    left:30%;
    right: 30%;
    z-index:100;
    // background-image: url('../../images//img2.jpg');
    // width:100vw
}