.dashboard{
    position: relative;
    // z-index: -1;
    background-image: url('../../images/bgimg1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    // margin-top: 0%;
    // height:100%;
}