.update-profile{
    // position: absolute;
    z-index: -1;
    background-image: url('../../images/bgimg3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3%;
    height:103.2vh;
}